*{
    margin: 0;
    padding: 0;
    
}
span{
    clear: both;
}
header ,main ,footer{
    margin-bottom: 20px;
}

footer {
   margin-bottom: 0px; 
}

header{
    background-color: rgba(0, 0, 0, 0.568);
}


header section{
    width: 960px;
    height: 70px;
    margin: auto;
    padding: 30px 0;
    overflow: hidden;
}

header section nav img{
    width: 200px;
    height: 70px;
    float: left;
 
}

header section nav ul li{
    padding: 35px 0px;
    color: white;
}


header section nav ul li {
padding: 35px 0px;
color: white;
float: left;
width: 190px;
height:70px ;
text-align: center;
}




/*--------------------------------------------------------------------*/

main div{
    width: 960px;
}


main div{
width: 960px;
margin: auto;
}

main div article:first-child img{
    width: 960px;
    height: 450px;
    margin-top: 30px ;
}

main div article:nth-child(2) {
    width: 960px;
    height: 375px;
    margin: 30px 0 30px 0;
}

main div article:nth-child(2) {
overflow: hidden;

}

main div article:nth-child(2) img{
    width: 300px;
    height: 375px;
    display: block;
    float: left;
    margin-right: 30px;
}
main div article:nth-child(2) :nth-child(3){
    margin-right: 0px;
}

main div article:last-child section:first-child{
    display: inline-block;
    width: 480px;
    height: 400px;
}
main div article:last-child section:last-child{
    width: 480px;
    height: 400px;
    float: right;
    position: relative;
    overflow: hidden;
}
main div article:last-child section:last-child h2{
    font-size: large;
    padding-left: 20px;
}
main div article:last-child section:last-child p{
    padding:0 20px 0 20px;
    height:345px;
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
main div article:last-child section:last-child p::-webkit-scrollbar {
display: none;
}
button{
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    margin-left: 20px;
    transform: translateY(349px);
}
button:hover{
    background-color: rgb(114, 107, 107);
    transition-duration: 350ms;
}
/*-------------------------------------------------------------------------*/

footer{
    background-color: rgba(0, 0, 0, 0.568);
    height: 100px;
}